#!/bin/sh

# PROVIDE: netbox
# REQUIRE: LOGIN
# BEFORE:  securelevel
# KEYWORD: shutdown

# Add the following line to /etc/rc.conf to enable `netbox':
#
# netbox_enable="YES"

. /etc/rc.subr

name="netbox"
rcvar="${name}_enable"

command="{{ netbox_venv_dir }}/bin/python3"
pidfile="/usr/local/netbox/$name.pid"
pidfile="{{ netbox_home_dir }}/$name.pid"

load_rc_config "$name"
: ${netbox_enable="NO"}
: ${netbox_user="{{ netbox_user }}"}
: ${netbox_pythonpath="{{ netbox_app_dir }}"}
: ${netbox_gunicorn_bin="{{ netbox_venv_dir }}/bin/gunicorn"}
: ${netbox_gunicorn_config="{{ netbox_root_dir }}/contrib/gunicorn.py"}
: ${netbox_gunicorn_flags=""}

command_args="${netbox_gunicorn_bin} --daemon --pid ${pidfile} --pythonpath ${netbox_pythonpath} --config ${netbox_gunicorn_config} ${netbox_gunicorn_flags} netbox.wsgi"

run_rc_command "$1"
