# Managed by ansible
#
# obtained from:
# https://github.com/pobk/netbox-supervisord/blob/534af94c84f476d85bf8a1d4caf43ef34ce025ea/supervisord.conf

[program:netbox]
command={{ netbox_venv_dir }}/bin/gunicorn --pid /var/tmp/netbox.pid --pythonpath {{ netbox_app_dir }} --config {{ netbox_gunicorn_conf_file }} netbox.wsgi
numprocs=1
directory=/opt/netbox
user={{ netbox_user }}

stdout_logfile={{ netbox_log_dir }}/general.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=30
stdout_capture_maxbytes=1MB

stderr_logfile={{ netbox_log_dir }}/error.log

stderr_logfile_maxbytes=10MB
stderr_logfile_backups=10
stderr_capture_maxbytes=1MB

[program:netbox_rq]
command={{ netbox_venv_dir }}/bin/python3 {{ netbox_app_dir }}/manage.py rqworker high default low
numprocs=1
directory={{ netbox_root_dir }}
startsecs=10                  ; number of secs prog must stay running (def. 1)
startretries=3                ; max # of serial start failures (default 3)

user={{ netbox_user }}

stdout_logfile={{ netbox_log_dir }}/general-rq.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=30
stdout_capture_maxbytes=1MB

stderr_logfile={{ netbox_log_dir }}/error-rq.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=10
stderr_capture_maxbytes=1MB
