[Unit]
Description=NetBox WSGI Service
Documentation=https://netbox.readthedocs.io/en/stable/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User={{ netbox_user }}
Group={{ netbox_group }}
PIDFile=/var/tmp/netbox.pid
WorkingDirectory={{ netbox_root_dir }}

ExecStart={{ netbox_venv_dir }}/bin/gunicorn --pid /var/tmp/netbox.pid --pythonpath {{ netbox_app_dir }} --config {{ netbox_gunicorn_conf_file }} netbox.wsgi

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
